@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f0f0f;
    color: white;
    font-family: "Noto Sans", sans-serif;
}

.body{
    background: url(assets/images/background.png) center/cover;
    width: 100%;
    height: 140%;
    position: absolute;
    top: 3rem;
    filter: blur(10px);
    opacity: 0.1;
}

.container {
    max-width: 1920px;
    margin: auto;
    position: relative;
    padding: 0 35px;
}

.main {
    max-width: 96vw;
    margin: auto;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0 25px;
}

nav img:nth-child(1) {
    width: 9.25rem;
}

nav img:nth-child(2){
    display: none;
}

nav button {
    padding: 5px 18px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in;
    color: black;
    background: white;
}

nav button:hover {
    opacity: 0.75;
}

.main-section {
    color: white;
}

.main-section .background {
    background: radial-gradient(at top left, white 25%, transparent 70%);
    border-radius: 20px;
    padding: 2px;
    position: absolute;
    width: 100%;
    height: 30rem;
}

.main-section .background .image {
    background: url(assets/images/background.png) center/cover;
    height: 34rem;
    margin: auto;
    border-radius: 20px;
    box-shadow: rgba(235, 126, 126, 0.315) 0px 22px 100px 14px;
    position: absolute;
    width: 100%;
}

.main-section .background .image .image-bg {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.90) 29.25%, rgba(0, 0, 0, 0.40) 64.5%);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    border-radius: 20px;
}

.more-style {
    background: rgba(249, 146, 151, 0.2);
    filter: blur(10px);
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 18rem;
}

main .start {
    max-width: 37rem;
    text-align: center;
}

main .start h1 {
    font-size: 3.2rem;
    font-weight: 900;
}

main .start p {
    font-size: 1.2rem;
    font-weight: bold;
}

.start form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 7rem;
}

.form-floating{
    width: 100%;
}

.form-floating input {
    font-size: 1rem;
    border-radius: 30px;
    background: #1C1719;
    color: white !important;
    border: 1px solid gray;
    width: 100%;
}

.start form button {
    background: #E50914;
    color: white;
    width: 18rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.start .input button:hover {
    background: #C11119;
}

.layout {
    width: 87%;
}

.trending {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

.layout h2 {
    font-size: 2rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.863);
}

main .select{
    position: relative;
}

main .select img{
    position: absolute;
    width: 1.5rem;
    top: 0.7rem;
    left: 0.7rem;
}

.form-select{
    color: white;
    border-radius: 30px;
    padding: 8px 40px;   
    border: 1px solid gray;
    font-size: 1rem;
    font-weight: 500;
}

.movie-cards {
    margin-top: 0.8rem;
    display: flex;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
}

.movie-cards::-webkit-scrollbar {
    display: none;
}

.movie-cards .movie-card {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    padding: 0.8rem 0.4rem;
}

.movie-cards .movie-card:hover {
    transform: scale(1.05);
}

.movie-cards .image {
    height: 280px;
    width: 140px;
    margin-left: 1.5rem;
    position: relative;
}

.movie-cards .image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.movie-cards span {
    font-size: 4rem;
    font-weight: 900;
    color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    z-index: 1;
    transform: scale(1.1);
    position: absolute;
}

.join {
    margin-top: 3rem;
}

.join .join-cards {
    display: flex;
    margin-top: 1rem;
    gap: 0.8rem;
}

.join .join-card {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.04);
    height: 7.5rem;
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.join .join-card span {
    font-size: 1.1rem;
    font-weight: bold;
}

.join .join-card img {
    height: 2.5rem;
    width: 2.5rem;
    position: relative;
    top: 3rem;
}

.faq {
    margin-top: 3rem;
}

.accordion-item{
    margin-bottom: 0.5rem;
    border-radius: 20px !important;
    background: transparent;
    border: none;
}

.accordion-header button{
    font-size: 1.1rem;
    font-weight: bold;
    background: #272727;
    border: 2px solid rgb(51, 51, 51);
    border-radius: 20px !important;
    padding: 30px 25px;
    color: white;
    transition: 0.3s ease-in-out;
}

.accordion-header button:hover{
    background: #3f3f3f;
}

.accordion-button:not(.collapsed){
    background: #272727;
    color: white;
}

.accordion-body{
    background: #272727;
    border-radius: 20px;
    margin-top: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 30px 25px;
}

.last-button {
    background: #E50914;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease-in;
    margin-top: 2.5rem;
}

.last-button:hover {
    background: #C11119;
}

footer {
    color: rgba(255, 255, 255, 0.7);
    width: 77%;
    margin: auto;
    padding: 50px 0 100px 0;
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer a {
    color: rgba(255, 255, 255, 0.7);
}

footer .contact {
    font-size: 17px;
    font-weight: bold;
}

footer .links {
    margin: 5px 0 20px 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    line-height: 2.5;
}

footer .select{
    position: relative;
}

footer .select img{
    width: 1.3rem;
    position: absolute;
    top: 5px;
    left: 10px;
}

footer .form-select{
    width: 8rem;
    padding: 3px 10px 3px 35px;
}